<footer class='footer'>
    <div class='footer-icons-container'>
        <a href="https://www.instagram.com/350east_barber/"
               target="_blank"
               rel="noopener noreferrer">
                <img src="/img/instagram.svg" alt="Instagram Logo" class="footer-icon">
            </a>
        <a href="mailto: franknardone95@gmail.com"
           target="_blank"
           rel="noopener noreferrer">
            <img src="/img/mail.svg" alt="Mail Logo" class="footer-icon">
        </a>
    </div>
</footer>